@media (max-width: 480px) {
    .loader span{
        font-size: 4rem;
    }
    .personal{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        gap:1rem;
        padding: 0;
        width: 100%;
        position: relative;
    }
    .personal-image,.details{
        display: block;
        position:unset;
    }
    .personal-image{
        top:15px;
        width: 250px;
        height: 250px;
        left:0;
        margin-bottom: 50px;
    }
    .details{
        width: 100%;
        gap:15px;
        line-height: 52px;
        height: max-content;
    }
    .details button{
        margin-top: 1rem;
    }
    .menu{
        display: none;
        position: absolute;
        top: 0px;
        left: 0;
        height: 30vh;
        width: 100%;
        background-color: #3C6255;
        padding: 8rem 0;
    }
    .menu ul{
        z-index: 1;
        
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }
    .innermenu{
        align-self: flex-end;
        margin-top: 15px;
        margin-right: 25px;
        cursor: pointer;
        z-index: 4;
        display: block;
        font-size: 2rem;
        color:#EAE7B1;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 3;
    }
    .innermenu svg{
        margin-left: 15px;
        width:40px;
        height: 40px;
        transition: all 500ms ease;
    }
    .about{
        margin-top: 1rem;
        padding:1rem;
        font-size: 1.3rem;
    }
    .about h2{
        margin-top: 1.5rem;
    }
    .skillshow{
        flex-direction: column;
    }
    .skill{
        flex-direction: row;
        width: 100%;
    }
    .skill div{
        width: 80px;
        height: 80px;
    }
    .show{
        width: 100%;
        height: 70%;
        margin:1rem 0;
        padding: 1rem 2rem;
        font-size: 1rem ;
    }
    .show p:nth-of-type(odd){
        padding: 0 2rem 0 0;
    }
    .show p:nth-of-type(even){
        padding: 0 0 0 2rem;
    }

    .active:after{
        display: none;
    }
    .split{
        flex-direction: column;
    }
    .form,.faq{
        width: 100%;
        height: 50%;
        box-sizing: border-box;
    }
    .form>p,.faq>p{
        margin:0;
        font-size: 1rem;
    }
    .forminfo form{
        gap:0.5rem;
    }

}